.e_cart {
  position: relative;
  &_num {
    position: absolute;
    width: 23.5px;
    height: 23.5px;
    text-align: center;
    border-radius: 50%;
    top: -15px;
    right: -18px;
    background-color: #eeeeff;
    color: #111111;
    display: grid;
    place-content: center;
  }
}
 .searchbar {
   display: flex;
   flex: 1;
   justify-content: center;
 }

 .search__input{
    height: 40px;
    padding: 10px;
    border: none;
    width: 90%;
 }

.nav{
   position: sticky;
    z-index: 100;
}