.explore{
 padding: 50px; 
}

.explore_headingOne{
   
   font-weight: 100;
   font-size: 23px;
   font-family: 'Arial Black', Courier, monospace;
}

.explore_headingTwo{
  
   font-weight: 100;
   font-size: 22px;
   font-family: 'Arial Black', Courier, monospace;
}

.explore_img{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.explore_image{
    width: 150px;
}

.explore_text{
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Arial Black', Courier, monospace;
}