

.section{
  display:inline-block;
  color: white;
  font-size:15px;
  margin-top:10px;
  margin-left:20px;
  text-align: center;
}

.section :hover{
  outline-style:solid;
  outline-width:2px;
  outline-color:white;
}